{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'beats/css/main.css' %}">
    <title>Smart-beats</title>
</head>

<body>

<div class="container-fluid">
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a id="logo" class="navbar-brand mr-4" href="{% url 'home' %}">SmartBeats</a>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="content">
            <div class="link-boxes">
                <ul class="box">
                    <li><a href="#"><img src="{% static 'beats/img/SmartBeats_Logo.png' %}" style="width: 60%;"
                                         alt=""></a></li>
                    <li><a href="#">Arizona State University, Cloud Innovation Center</a></li>
                </ul>
                <ul class="box">
                    <li><a href="#">Accessibility</a></li>
                    <li><a href="#">Security and Privacy</a></li>
                </ul>
                <ul class="box">
                    <li><a href="#">Social Media</a></li>
                    <li class="media-icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>


<!-- Optional JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>