{% extends 'beats/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <h3>Generate New Beats</h3>
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {#            {{ form.as_p }}#}
            <div class="field box">
                <label class="label">Priority</label>
                <div class="control">
                    {% render_field form.priority %}
                </div>
            </div>
            <div class="field box">
                <label class="label">Incident</label>
                <div class="control">
                    {% render_field form.is_incident %}
                </div>
            </div>

            <div class="field box">
                <label class="label">Beat Creation Method</label>
                <div class="control">
                    <div class="select">
                        {% render_field form.beat_creation_method id="beat_creation_method" onchange="show_beat_gen_attribute();" %}
                    </div>
                </div>
            </div>


            <div class="field box" id="cfs_per_beat">
                <label class="label">Calls-For-Service Per Beat</label>
                <div class="control">
                    {% render_field form.cfs_per_beat %}
                </div>
            </div>


            <div class="field box" id="number_of_beats">
                <label class="label">Total Number of Beats</label>
                <div class="control">
                    {% render_field form.number_of_beats %}
                </div>
            </div>


            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="{% static 'beats/js/main.js' %}"></script>
{% endblock content %}