{% extends 'beats/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Upload your data source here:</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <legend class="border-bottom mb-4">
        Upload new data source (.shp and .csv files)
    </legend>
    <fieldset class="form-group" style="display: flex;">
        {{ form|crispy }}
    </fieldset>
    <div class="form-group" style="margin-top: 100px; display: flex; justify-content: end;">
        <button class="btn btn-outline-danger btn-lg" type="submit">Upload</button>
    </div>
</form>
{% endblock %}